/* #test {
    margin: 50px auto;
    width: 400px;
    height: 100px;
    text-align: center;
}

#test.red {
    background: red;
}

#test.blue {
    background: blue;
}

#test.green {
    background: green;
}


h1 {
    padding: 5px;
    text-align: center;
    font-size: 16px;
}


.form__wrap {
    margin-top: 20vh;
    border: 1px solid green;
    border-radius: 10px;
}

.calc-wrapper {
    margin-top: 30vh;
    padding: 15px;
    background: #a4b5a4;
    border-radius: 10px;
} */


#cart{
    border: 1px solid #ddd;
    min-height: 200px;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 30px;
}

.wrap{
    position: relative;
    z-index: 100;
    background: #fff;
}

.row{
    margin: 0;
}