/* Global styles */

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

footer {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue';
    font-weight: normal;
    overflow-x: hidden;
    letter-spacing: 1px;
}

li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.grey {
    color: #e3e3e3;
}

.white {
    color: #fff;
}


.bg-blue {
    background-color: #38c6b4;
    background: url(../img/bg-blue.png);
    background-repeat: repeat;
}

.bg-aqua {
    background: #3cc3b5;
}

/* Global styles */

/*Header styles*/

.top-wrap {
    min-height: 79px;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 49px;
    color: #3cc3b5;
    margin-left: 20px;
}

.logo a {
    color: #3cc3b5;
}

.search {
    position: relative;
    width: 440px;
}

.search i {
    position: absolute;
    right: 23px;
    top: 27px;
    cursor: pointer;
    color: #e1e1e1;
    font-size: 24px;
}

.inp-search {
    width: 100%;
    height: 30px;
    padding-left: 20px;
    font-size: 13px;
    margin: 25px 0px 20px 0px;
    border: 1px solid #e1e1e1;
    color: #e1e1e1;
}

.cart i {
    line-height: 52px;
    height: 38px;
    display: block;
    color: #afafaf;
    font-style: normal;
    font-size: 24px;
    margin-right: 22px;
    margin-left: 10px;
    padding-bottom: 1px;
}

.cart-img {
    margin-right: 7px;
    height: 38px;
}

.navbar {
    padding: 0;
    min-height: 35px;
}

.nav {
    width: 100%;
    background: #4ccfc1;
    min-height: 35px;
    box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.15);
    position: relative;
    font-size: 21px;
}

.nav-wrap {
    flex-wrap: wrap;
    min-height: 36px;
}

.nav-item {
    padding-right: 20px
}

.nav-item a {}

.nav-link {
    padding: 0;
    color: #fff;
}

.nav-item a:hover {
    color: #a89f9f;
}

.nav-item a::after {
    content: "";
    width: 2px;
    height: 16px;
    position: relative;
    display: inline-block;
    background: #fff;
    left: 20px;
    top: 2px;
}

.nav-item:last-child a::after {
    display: none;
}

/* End Header styles*/

.navbar-nav {
    width: 100%;
    justify-content: space-around;
}

.navbar-toggler-icon {
    color: #fff;
}

/*Slider styles*/

.slide {
    width: 100%;
    min-height: 446px;
    color: #fff;
}

.slide-wrap {
    justify-content: flex-start;
}

.slide-img {
    margin-top: 65px;
    margin-left: 75px;
    max-width: 278px;
    max-height: 451px;
}

.slide-head {
    font-size: 56px;
    max-width: 310px;
    margin-top: 79px;
    line-height: 54px;
    letter-spacing: 2px;
}

.slide-subhead {
    max-width: 412px;
    margin-top: 12px;
    line-height: 28px;
    word-wrap: break-word;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 3px;
}

.slide-btn {
    border: 3px solid #fff;
    border-radius: 10px;
    margin-top: 23px;
    margin-left: 5px;
    display: inline-block;
    width: 133px;
    text-align: center;
    height: 44px;
    font-size: 27px;
    letter-spacing: 0.1px;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}


.slide-circle {
    width: 100px;
    margin-top: 48px;
    margin-left: 10px;
}

.circle-item {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
}

.circle-item:hover {
    background: #7cd8d0;
    cursor: pointer;
}

/*End  Slider styles*/

/*Section product slide*/

.product-slide {
    width: 100%;
}

.product-wrap {
    min-height: 190px;
}

.product-wrap i {
    position: absolute;
    font-size: 100px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.product-wrap i:hover {
    color: #3ac5ba;
    opacity: 1;
}

.product-wrap .fa-angle-left {
    left: 30px;
}

.product-wrap .fa-angle-right {
    right: 30px;
}

.product-item {
    min-height: 190px;
}

.product-item:after {
    content: "";
    width: 1px;
    height: 190px;
    background: #e7e7e7;
    display: inline-block;
}

.product-item:nth-child(3) {
    width: 33%;
}

.product-item:nth-child(4)::after {
    display: none;
}

.product-item:nth-child(4) {
    width: 29%;
}

.product-item img {
    height: 132px;
}

.product-slide-wrap {
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 46px;
}

.product-item-text {
    font-size: 27px;
    width: 80px;
    color: #afafaf;
    line-height: 1;
}

.btn {
    padding: 0;

}

.product-item-btn {
    margin-top: 20px;
}

.product-item-btn a {
    background: #3cc395;
    border-radius: 6px;
    font-size: 19px;
    width: 59px;
    display: block;
    text-align: center;
    height: 32px;
    line-height: 32px;
}

.product-item img {
    margin-top: 30px;
}

.vertic-line {
    width: 1px;
    height: 190px;
    background: #e7e7e7;
}

.recommend {
    width: 100%;
}

.reccomend-head {
    height: 65px;
    line-height: 65px;
    margin-left: 43px;
    font-size: 31px;
}

/*End Section product slide*/

/*Section Goods*/

.goods {
    min-height: 688px;
    width: 100%;
}

.goods-wrap {
    justify-content: space-evenly;
}

.goods-item {
    width: 253px;
    height: 258px;
    border: 2px solid #e4e4e4;
    margin-top: 45px;
}

.goods-item img {
    margin: 25px auto 0px auto;
    display: block;
    height: 126px;
}

.goods-head {
    color: #afafaf;
    margin: 0px auto;
    font-size: 27px;
}

.goods-price-wrap {
    border-bottom: 5px solid #3cc395;
    height: 63px;
}

.goods-price {
    color: #afafaf;
    font-size: 27px;
    font-weight: bold;
    margin-top: 8px;
}

.goods-btn {
    margin-top: 7px;
}

.goods-btn a {
    font-size: 20px;
    width: 74px;
    height: 34px;
    background: #3cc395;
    border-radius: 6px;
    margin-left: 15px;
    margin-top: 4px;
    display: block;
    text-align: center;
    line-height: 34px;
}

.goods-btn a:hover,
.product-item-btn a:hover {
    color: #e4e4e4;
    background: #64c33c;
}

/*End Section Goods*/

/*Footer styles*/

footer {
    min-height: 337px;
    width: 100%;
    background: #3cc3b5;
}

.footer-wrap {
    flex-wrap: wrap;
    min-height: 337px;
}

.footer-links a {
    line-height: 28px;
    font-size: 15px;
    font-weight: 300;
}

.footer-links h3 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 60px;
}

.footer-links a:hover {
    color: #e4e4e4;
}

.copyright {
    width: 100%;
    height: 46px;
    background: #2da89b;
}

.copyright p {
    margin: 0px;
    text-align: center;
    font-size: 15px;
    line-height: 46px;
    font-family: 'Open Sans', sans-serif;
}

/*End Footer styles*/

/*Media*/

@media (max-width: 576px) {
    .top-wrap {
        min-height: 69px;
        padding: 10px;
        text-align: center;
    }

    .logo {
        color: #fff;
    }
}

@media (max-width: 768px) {

    .slide-head,
    .slide-subhead,
    .slide-circle {
        margin: 10px auto;
    }

    .slide-img {
        margin: 10px;
    }

    .slide-btn {
        display: block;
        margin: 10px;
    }

    .img-wrap {
        text-align: center;
    }



}

@media (max-width: 992px) {
    .nav-item a::after {
        display: none;
    }
    .product-item:after{
     display: none;
    }
}






/*Media*/
