div {
    width: 50vw;
}


.wrap{
    position: relative;
}


#cart{
    position: absolute;
    z-index: 1000;
    min-height: 200px;
}

label {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

input {
    align-self: center;
}
